@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #252525;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --background: #f8f8fa;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #f9fafb;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: #252525;
    }
  } */
}

@layer base {
  * {
    box-sizing: border-box;
  }
}

@layer components {
  .active-link {
    background: linear-gradient(
      to right bottom,
      rgb(7 88 7 / 60%),
      rgb(1 69 1 / 79%)
    );
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .dark-glass {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 70%),
      rgb(0 0 0 / 80%)
    );
    -webkit-backdrop-filter: blur(3rem);
    backdrop-filter: blur(3rem);
  }

  .pop-up-container {
    @apply select-none;
    @apply fixed z-20;
    @apply bg-transparent;
    @apply right-0 min-h-[50vh] w-full max-w-screen-sm;
  }

  .pop-up-container-fullscreen {
    @apply select-none;
    @apply fixed z-0;
    @apply bg-black/90;
    @apply inset-0;
    @apply min-h-screen;
    @apply flex items-center justify-center;
  }

  .pop-up {
    @apply select-none;
    @apply min-h-[50vh] w-full;
    @apply flex flex-col items-center;
    @apply rounded-3xl border-t-2 border-leaf-800 shadow-lg lg:rounded-none lg:border-2;
    @apply bg-white/80 text-black backdrop-blur-md;
  }

  .pop-up-fullscreen {
    @apply select-none;
    @apply w-[80vw] max-w-screen-sm;
    @apply flex flex-col items-center;
    @apply rounded-3xl border-t-2 border-leaf-800 shadow-lg lg:rounded-none lg:border-2;
    @apply bg-white/80 text-black backdrop-blur-md;
  }

  .pop-up-close {
    @apply select-none;
    @apply absolute right-4 top-[50%] -translate-y-1/2;
    @apply rounded-full;
    @apply font-medium;
    @apply cursor-pointer;
    @apply hover:bg-leaf-300/70 hover:text-white/90 focus:bg-leaf-300/70 focus:text-white/90;
    @apply transition-colors duration-200 ease-in;
  }

  .loading-fallback-page {
    @apply flex w-full grow items-center justify-center;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}

.page-loader {
  width: 65px;
  aspect-ratio: 1;
  --g: radial-gradient(
      farthest-side,
      #0000 calc(95% - 3px),
      #fff calc(100% - 3px) 98%,
      #0000 101%
    )
    no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l10 1.5s infinite;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

@keyframes l10 {
  0% {
    background-position:
      0 0,
      0 100%,
      100% 100%;
  }
  25% {
    background-position:
      100% 0,
      0 100%,
      100% 100%;
  }
  50% {
    background-position:
      100% 0,
      0 0,
      100% 100%;
  }
  75% {
    background-position:
      100% 0,
      0 0,
      0 100%;
  }
  100% {
    background-position:
      100% 100%,
      0 0,
      0 100%;
  }
}
